<%# coding: UTF-8 -%>
<form method="post" action="<%= @form_action || "login" %>" id="login-form" class="form-vertical"
      onsubmit="submitbutton = document.getElementById('login-submit'); submitbutton.value='<%= t.notice.please_wait %>'; submitbutton.disabled=true; return true;">
        <input type="text" id="username" name="username" class="input-sso"
               size="32" tabindex="1" accesskey="u" placeholder="<%= t.label.username %>" />
        </br>
        <input type="password" id="password" name="password" class="input-xlarge"
               size="32" tabindex="2" accesskey="p" autocomplete="off" placeholder="<%= t.label.password %>" />
        <input type="hidden" id="lt" name="lt" value="<%= escape_html @lt %>" />
        <input type="hidden" id="service" name="service" value="<%= escape_html @service %>" />
        </br>
        <input type="submit" class="btn btn-danger btn-large" accesskey="l" value="<%= t.button.login[Random.rand(12)] %>"
               tabindex="4" id="login-submit" />
</form>
